* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(187, 187, 187);
}

h1 {
  margin-left: 30px;
  /* margin-bottom: 15px; */
  color: rgb(187, 187, 187);
  padding-top: 20px;
}
/* .title{
  margin-top: 30px;
} */
.header {
  position: relative;
  box-shadow: 5px 5px 10px rgba(187, 187, 187, 0.5) inset,
    -5px -5px 10px rgba(0, 0, 0, 0.8) inset;
}
.nav {
  /* background-color: red; */
  padding-top: 15px;
  align-items: baseline;
}
.navBottom {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
  align-items: baseline;
}
.navBottom button {
  color: black;
}
.navBottom button:hover {
  transform: scale(1.1);
  background-color: red;
}

.topnav {
  overflow: hidden;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.search {
  float: right;
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/bg.jpeg");
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}
.mainEffect {
  width: 90%;
  min-height: 100vh;
  backdrop-filter: blur(5px);
}
.header {
  width: 100%;
  height: 100px;
  background-color: rgb(40, 40, 40);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 2px solid rgb(187, 187, 187);
}
.links {
  margin: 0 15px;
}
.mainContainer {
  width: 90%;
  height: auto;
  margin: 50px auto;
  background-color: rgb(69, 69, 69);
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.formBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: rgb(187, 187, 187);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 20px auto;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 10px;
}
.input {
  width: 25vw;
  min-width: 300px;
  height: 50px;
  margin: 0 25px;
  height: 30px;
  border: none;
  float: right;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgb(40, 40, 40);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.input2 {
  width: 90%;
  min-width: 300px;
  height: 200px;
  margin: 0 auto;
  /* height: 30px; */
  border: none;
  float: right;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgb(40, 40, 40);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.buttForm1 {
  margin: auto;
  margin-top: 20px;
  background-color: rgb(2, 57, 14);
  color: black;
  font-weight: bold;
  font-size: 18px;
  width: 60%;
}
.buttForm1:hover {
  color: rgb(31, 198, 127);
  border: 3px solid rgb(31, 198, 127);
}
.buttForm2 {
  margin: 10px;
  background-color: rgb(2, 57, 14);
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 2px;
}
.buttForm2:hover {
  color: rgb(31, 198, 127);
  border: 3px solid rgb(31, 198, 127);
}
.storyDiv {
  display: flex;
  flex-direction: column;
}
.pairs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}
ul li {
  list-style: none;
  margin: 5px;
}
li span {
  margin-right: 5px;
  color: green;
}
.redNum {
  color: red;
}

.content {
  display: flex;
  width: 100%;
  height: 90%;
  background-color: rgb(15, 15, 15);
  border-radius: 25px;
}
.contentLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 15, 15);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: center;
  align-items: center;
}
.contentRight {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-height: 100%;
  padding: 10px;
  background-color: rgb(20, 20, 20);
  border-bottom-right-radius: 25px;
  box-shadow: 2px 2px 5px black inset;
}
/* =========WELCOME Page Styling ============*/
.sliderMain {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 20px;
}
.carolBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  overflow: hidden;
  margin-bottom: 20px;
}
.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  margin: 20px;
}
.gameLogo {
  max-width: 75px;
}
/* .slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(69, 69, 69,1),
    rgba(69, 69, 69,.2)
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 50px;
  z-index: 2;
}
.slider::after {
  right: 8%;
  top: 170px;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 8%;
  top:170px;
} */
.logos {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(115px * 18);
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-115px * 9));
  }
}

/* =========HOME Page Styling ============*/
.homeDiv {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  margin-top: 20px;
}
.homeDivBottom {
  width: 100%;
  height: 70%;
  /* background-color:blue; */
  padding: 10px;
}

.profileCard {
  width: 300px;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  padding: 20px;
  margin-left: 30px;
  box-shadow: 5px 5px 5px black, 5px 5px 5px black inset,
    -5px -5px 5px black inset;
}
#picBox {
  display: flex;
  min-width: 200px;
  min-height: 100px;
  margin: auto 0;
  margin-right: auto;
}
.profilePic {
  width: 150px;
  height: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pCardContent {
  background-color: rgb(15, 15, 15);
  height: 150px;
  width: 200px;
  padding-left: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.collabTitle {
  border-bottom: 2px solid blue;
}
.collabTop {
  display: flex;
  flex-direction: column;
}
.collabCard {
  width: 90%;
  min-height: 150px;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px;
  transition: transform 0.5s ease;
  box-shadow: 5px 5px 5px black, 2px 2px 5px rgba(187, 187, 187, 0.8) inset,
    -2px -2px 5px black inset;
}
.collabCard:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 2;
}

.collabContent {
  /* background-color: red; */
  height: 100%;
}
.collabContentTop {
  display: flex;
  flex-direction: row;
}
.collabName {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}
.collabContentBottom {
  display: flex;
  height: 50%;
  padding: 10px;
  /* background-color: blue; */
}
#newGDD {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
  transition: height 0.5s ease;
  overflow: hidden;
}
#newGDDForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: center;
}
#newGDDForm input {
  width: 100%;
}
#newGDDLabel {
  margin-left: auto;
  margin-bottom: 5px;
  font-weight: bold;
}
#newGDDLabel:hover {
  transform: scale(1.1);
  color: red;
}
.butt {
  width: 60%;
  margin: 0 auto;
}
.tags {
  margin-right: 10px;
  margin-left: 5px;
}

.gddCard {
  display: flex;
  width: 70%;
  min-height: 200px;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  transition: transform 0.5s ease;
  box-shadow: 5px 5px 5px black, 2px 2px 5px rgba(187, 187, 187, 0.8) inset,
    -2px -2px 5px black inset;
}
 .gddCard :hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 2;
}

.gddPic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(50, 50, 50);
}
.gddCardLeft {
  padding-right: 10px;
  /* background-color:red; */
  border-right: 2px solid black;
}

.gddCardRight {
  display: flex;
  flex-direction: column;
  /* background-color:blue; */
  justify-content: center;
  align-items: center;
  margin: auto;
}
.bottomRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
}
.collabCard2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 150px;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  transition: transform 0.5s ease;
  box-shadow: 5px 5px 5px black, 2px 2px 5px rgba(187, 187, 187, 0.8) inset,
    -2px -2px 5px black inset;
}
.gdd3nameBox {
  overflow: hidden;
}
.gddPic3 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 2px solid rgb(50, 50, 50);
}
.collabCard2:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 2;
}
/* =====Design Doc PAGE===== */
.docPairs {
  position: relative;
  width: 100%;
  min-height: 300px;
  background-color: rgb(50, 50, 50);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3) inset,
    0 -20px 20px rgba(0, 0, 0, 0.8) inset;
  margin: 10px;
  padding: 10px;
}
.gddPic2 {
  display: flex;
  max-width: 90%;
  height: 250px;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.gddImg {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.smallImg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
  border: 2px solid rgb(187,187,187);
}
.smallImgBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 75px;
  border-radius: 50%;
  margin: 25px;
  margin-left: auto;
  cursor: pointer;
}
#accentColor{
  color:rgb(152, 0, 177);
  font-weight: bold;
}
.smallImg2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.smallImgBox2{
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  border-radius: 50%;
  margin: 25px;
}
.gameImg {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.docName {
  display: flex;
  width: 100%;

  /* background-color: red; */
}
.story {
  width: 90%;
  background-color: rgb(15, 15, 15);
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
}
.editCard {
  display: flex;
  width: 200px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(15, 15, 15);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 8px black;
  transition: transform 0.5s ease;
  overflow: hidden;
}
.editCard:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 5px 10px 8px black;
}
.picPair {
  display: flex;
  width: 100%;
  max-height: 150px;
  justify-content: center;
  padding-right: 5px;
  margin-right: auto;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.gameName {
  margin-bottom: 5px;
  overflow: hidden;
}
.name {
  border-bottom: 2px solid blue;
}
.docButt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
  margin-bottom: 20px;
}
#trash {
  width: 150px;
  background-color: rgb(173, 152, 7);
}
#trash:hover {
  color: rgb(226, 254, 0);
  border: 3px solid rgb(226, 254, 0);
}
#delete {
  width: 150px;
  background-color: rgb(120, 4, 0);
}
#delete:hover {
  color: rgb(251, 0, 0);
  border: 3px solid rgb(251, 0, 0);
}
.docPairModal {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 25px;
  min-width: 100%;
  min-height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
}
.zoomInfoBox {
  display: flex;
  height: 250px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-right: 10px;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 15px;
  padding: 15px 10px;
}
.docZoomImgBox {
  display: flex;
  margin: auto;
  min-width: 320px;
  min-height: 600px;
  max-width: 600px;
  justify-content: flex-end;
  /* max-height: 500px; */
  /* background-color: purple; */
}
.docZoomImg {
  margin: auto;
  margin-top: auto;
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
}
.docImgButtBox {
  display: flex;
  flex-direction: column;
}
.modal-content2 {
  display: flex;
  align-items: center;
  margin: auto 0;
  max-width: 75%;
  animation-name: zoom;
  animation-duration: 0.6s;
  /* background-color: yellow; */
}
.docCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  /* background-color: red; */
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modalDesc {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(187, 187, 187);
  font-weight: bold;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#char {
  background-color: white;
}
.collabBox {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid grey;
  padding-bottom: 20px;
}
.collabBoxName {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.collabCard3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  justify-content: flex-end;
  transition: transform 0.5s ease;
  box-shadow: 5px 5px 5px black, 2px 2px 5px rgba(187, 187, 187, 0.8) inset,
    -2px -2px 5px black inset;
    cursor: pointer;
}
.collabPic {
  width: 75px;
  height: 75px;
  border-radius: 50%;

  margin-right: auto;
  border: 2px solid black;
  flex-shrink: 0;
}
.collabName3{
  margin-right: auto;
}
.collabCard3:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 2;
}

#requestBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}
#requestButtBox {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}
.glow {
  font-weight: bold;
  animation: glowing 1s ease-in-out infinite alternate;
  margin: 10px;
}
@keyframes glowing {
  from {
    text-shadow: 0 0 5px black, 0 0 5px white, 0 0 5px rgb(27, 92, 0),
      0 0 5px rgb(27, 92, 0), 0 0 5px rgb(27, 92, 0), 0 0 5px rgb(27, 92, 0);
  }
  to {
    text-shadow: 0 0 5px black, 0 0 5px white, 0 0 10px rgb(27, 92, 0),
      0 0 10px rgb(27, 92, 0), 20px 0 20px rgb(27, 92, 0),
      -20px 0 20px rgb(27, 92, 0);
  }
}
#reqName {
  color: rgb(147, 0, 171);
  font-weight: bold;
}
#accept {
  width: 200px;
}

/* =====REGISTRATION PAGE===== */
.regPicBox {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
}
.regPic {
  max-width: 100%;
  max-height: 100%;
  margin: auto 50px;
}

/* ===========SEARCH PAGE========= */
.searchForm {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 100%;
  color: black;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  color: rgb(187, 187, 187);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 20px;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 10px;
}

.searchForm label {
  margin-left: 15px;
  margin-right: 5px;
}

.searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
}
#searchImg {
  margin: auto;
}
.box {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 150px;
  width: 150px;
  background: transparent;
  background-size: 200px 200px;
  border: 5px solid rgb(15, 15, 15);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8), -3px 0 10px rgba(0, 0, 0, 0.8);
  color: red;
  cursor: pointer;
  font-weight: bold;
  outline: transparent;
  /* padding: 8px 16px; */
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.clip {
  height: 100%;
  width: 100%;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 10px;
}
#up {
  background: orange;
  /* opacity:1; */
  clip-path: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
}
#right {
  background: yellow;
  /* opacity:1; */
  clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}
#down {
  background: blue;
  /* opacity:1; */
  clip-path: polygon(0 100%, 100% 100%, 50% 50%);
}
#left {
  background: red;
  /* opacity: 1; */
  clip-path: polygon(0 0, 0 100%, 50% 50%);
}

.clipper {
  height: 100%;
  width: 100%;
  box-shadow: 6px 6px 0 #888;
  color: white;
  cursor: pointer;
  outline: transparent;
  padding: 8px 16px;
  transition: box-shadow 0.15s ease;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: clip-path 0.3s ease-in-out;
  /* border-radius: 5px; */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
#rightClip {
  /* background: blue;
     border: 5px solid blue; */
  clip-path: inset(0 0 0 100%);
}
#downClip {
  /* background: red; */
  /* border: 5px solid red; */
  clip-path: inset(100% 0 0 0);
}
#upClip {
  /* background: yellow; */
  /* border: 5px solid yellow; */
  clip-path: inset(0 0 100% 0);
}
#leftClip {
  /* background: green; */
  /* border: 5px solid green; */
  clip-path: inset(0 100% 0 0);
}
#right:hover ~ #rightClip,
#left:hover ~ #leftClip,
#up:hover ~ #upClip,
#down:hover ~ #downClip {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}
#right:hover,
#left:hover,
#up:hover,
#down:hover {
  /* opacity: 1; */
  z-index: 2;
  clip-path: inset(0 0 0 0);
}

@media only screen and (max-width: 620px) {
  .main {
    display: block;
  }
  .main.design-page {
    display: flex;
  }
  .mainEffect {
    width: 100%;
  }
  .mainContainer {
    width: 100%;
    margin: 0;
  }
  #userStats {
    font-size: 12px;
    width: auto;
    margin-right: auto;
  }
  .docPair {
    scroll-snap-align: center;
  }
  .docCard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0;
    margin: 0;
  }

  .gddCard {
    width: 90%;
  }
  .docPairModal {
    position: fixed;
    padding: 10px;
    height: 100vh;
    left: 0;
    bottom: 10px;
  }
  .zoomInfoBox {
    margin: 0;
  }
  .searchForm {
    display: flex;
    min-height: 50px;
    width: 100%;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
  }
  .editCard {
    width: 350px;
  }
}
@media only screen and (max-width: 930px) {
  * {
    margin: 0 auto;
  }
  .modal-content2 {
    flex-direction: column;
  }
}

/* Add Icons */
.add-icon-center {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-icon {
  padding: 3em;
  width: 100%;
  height: 100%;
}

/* modal-fixed background size */
.modal-fixed {
  height: 100vh;
  overflow: hidden;
}
